{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h2>About</h2>
    <p>This website helps user to determine the category of a Youtube Video.
        User can paste the link of any Youtube video and figure out the video is educational or non-educational.
        In the Output we get the details about the video ID and Title with the predicted Category

    </p>
    <p><h3>OUR TEAM </h3>
        <a href="https://www.linkedin.com/in/manu-dev-3b813222a/"><h5>Manu Dev</h5></a>
        <a href="https://www.linkedin.com/in/manu-dev-3b813222a/"><h5>Shivam Kumar</h5></a>
        <a href="https://www.linkedin.com/in/manu-dev-3b813222a/"><h5>Abhinaw Kumar</h5></a>

    </p>
    <p>
        This project was given to us by <a href="https://beyondexams.org/"><h3>Beyond Exams</h3></a>.
        <img style="margin-left:160px;" src="{{url_for('static', filename='images/beyond_exams.jpg')}}" width="300" height="300"class="left" alt="Beyond Exam">
    </p>
</div>
{% endblock content %}