{% extends 'layout.html' %}
{% block content %}
<div style="margin:auto">
    <img style="margin-left:160px;" src="{{url_for('static', filename='images/entertainment.png')}}" width="750" height="300" class="center" alt="Entertainment">
    <hr>
    <h2 style="margin-left:390px;" >Non-Educational Video</h2>
    <h5 style="margin-left:70px; color:red;">VideoID <span style="color:black;">-{{id}}</span></h5>
    <h5 style="margin-left:70px;color:red;">Title <span style="color:black;">- {{title_tag}}</span></h5>
    <br>
 </div>
{% endblock content %}